
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon</title>
    <%- include("./cssjs.ejs") %>

    <nav>
        <button><a href="/pokemons/new">Create a Pokemon</a></button>
    </nav>
    

</head>
<body>
    <h1><img src="https://www.pokemon.com/static-assets/content-assets/cms2/img/misc/_tiles/beyond-the-pokedex/pachirisu/beyond-the-pokedex-169.png"></h1>
    
    

    <!-- <ul> -->
        
    <div class="pokes">
        <% for (let i = 0; i < pokemons.length; i++){ %>
        <div class="poke-container">
            <a href="/pokemons/<%= i %>"><%= pokemons[i].name %></a>
        <a href="/pokemons/<%= i %>"><img src = <%= pokemons[i].img %> class="poke-img"></a>
    
        <form action="/pokemons/<%= i %>?_method=DELETE" method="post">
            <input type="submit" value="Delete"/>
        </form>

        </div>
        <% } %>
    <!-- </ul> -->
    </div>
</body>
</html>