
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Show Page</title>
    <%- include("./cssjs.ejs") %>
    
    <a href="/pokemons/<%= id %>/edit"><button>Edit Pokemon</button></a>

    <button><a href="/pokemons">Back to Main</a></button>
</head>
<body>
    <h1>The Pokemon Show</h1>
    
    <h2><%= pokemon.name %></h2>

    <h3 class="show-img"><img src=<%= pokemon.img %>></h3>

        <div class="detailsInfo">
            <p>Type: <% for (let i = 0; i < pokemon.type.length; i++) { %> <%= pokemon.type[i]%> <% } %></p>
        </div>
    <div class="show-container">
            <div class="HP"><h5>HP:<%= pokemon.stats.hp %></h5></div>
          
            <div class="ATK"><h5>Attack:<%= pokemon.stats.attack %></h5></div>

            <div class="DEF"><h5>Defense:<%= pokemon.stats.defense %></h5></div>

            <div class="SATK"><h5>Special Attack:<%= pokemon.stats.spattack %></h5></div>
          
            <div class="SDEF"><h5>Special Defense:<%= pokemon.stats.spdefense %></h5></div>
            
            <div class="SPD"><h5>Speed:<%= pokemon.stats.speed %></h5></div>
          

    <!-- <%# if (pokemon.stats.hp > 50) { %>
        <h4>"power on"</h4>
    <%# } else { %> 
        <h4>"power up"</h4>
    <%# } %> -->
    </div>

</body>
</html>

<!-- <img src="image.jpg" alt="Description of the image -->