
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Show Page</title>
    <%- include("./cssjs.ejs") %>
</head>
<body>
    <h1>The Pokemon Show</h1>
    <a href="/pokemons">Back to Main</a>
    
    <h2><%= pokemon.name %></h2>

    <h3><img src=<%= pokemon.img %>></h3>

        <div class="detailsInfo">
            <p>Type: <% for (let i = 0; i < pokemon.type.length; i++) { %> <%= pokemon.type[i]%> <% } %></p>
        </div>
            <h5>HP</h5>
            <div><%= pokemon.stats.hp %></div>
          
            <h5>Attack</h5>
            <div><%= pokemon.stats.attack %></div>

            <h5>Defense</h5>
            <div><%= pokemon.stats.defense %></div>

            <h5>Special Attack</h5>
            <div><%= pokemon.stats.spattack %></div>
          
            <h5>Special Defense</h5>
            <div><%= pokemon.stats.spdefense %></div>
          
            <h5>Speed</h5>
            <div><%= pokemon.stats.speed %></div>
          

    <!-- <%# if (pokemon.stats.hp > 50) { %>
        <h4>"power on"</h4>
    <%# } else { %> 
        <h4>"power up"</h4>
    <%# } %> -->

    
    <a href="/pokemons/<%= id %>/edit"><button>Edit Pokemon</button></a>

</body>
</html>

<!-- <img src="image.jpg" alt="Description of the image -->